<div class="search">
  <form #form="ngForm" (submit)="submitData()">
    <input
      type="text"
      placeholder="Search City"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>
<div class="container" *ngIf="weatherInfo">
  <div class="upper-data">
    <img src="../assets/cold.jpg" *ngIf="weatherInfo.current.temp_c <= 15" />
    <img src="../assets/hot.jpg" *ngIf="weatherInfo.current.temp_c > 15" />

    <div class="weather-data">
      <div class="location">{{ weatherInfo.location.name }}</div>
      <div class="temperature">
        {{ weatherInfo.current.temp_c | number : "1.0-0" }} &#8451;
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="meta-data-lable">More Information</div>
    <div class="meta-data-container">
      <div class="data-block">
        <div class="data-block-lable">
          <img src="../assets/min.png" />
          <span>min</span>
        </div>
        <div class="data-block-value">
          {{
            weatherInfo.forecast.forecastday[0].day.mintemp_c | number : "1.0-0"
          }}
          &#8451;
        </div>
      </div>

      <div class="data-block">
        <div class="data-block-lable">
          <img src="../assets/max.png" />
          <span>max</span>
        </div>
        <div class="data-block-value">
          {{
            weatherInfo.forecast.forecastday[0].day.maxtemp_c | number : "1.0-0"
          }}
          &#8451;
        </div>
      </div>

      <div class="data-block">
        <div class="data-block-lable">
          <img src="../assets/humidity.png" />
          <span>Humidity</span>
        </div>
        <div class="data-block-value">{{ weatherInfo.current.humidity }} %</div>
      </div>

      <div class="data-block">
        <div class="data-block-lable">
          <img src="../assets/wind.png" />
          <span>Wind</span>
        </div>
        <div class="data-block-value">
          {{ weatherInfo.current.wind_kph | number : "1.0-0" }} km/h
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/cold.jpg" *ngIf="14 <= 15" />
    <img src="../assets/hot.jpg" *ngIf="14 > 15" />

    <div class="weather-data">
      <div class="location">Egypt</div>
      <div class="temperature">{{ 14.4 | number : "1.0-0" }} &#8451;</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="meta-data-lable">More Information</div>
    <div class="meta-data-container">
      <div class="data-block">
        <div class="data-block-lable">
          <img src="../assets/min.png" />
          <span>min</span>
        </div>
        <div class="data-block-value">10 &#8451;</div>
      </div>

      <div class="data-block">
        <div class="data-block-lable">
          <img src="../assets/max.png" />
          <span>max</span>
        </div>
        <div class="data-block-value">20 &#8451;</div>
      </div>

      <div class="data-block">
        <div class="data-block-lable">
          <img src="../assets/humidity.png" />
          <span>Humidity</span>
        </div>
        <div class="data-block-value">77%</div>
      </div>

      <div class="data-block">
        <div class="data-block-lable">
          <img src="../assets/wind.png" />
          <span>Wind</span>
        </div>
        <div class="data-block-value">11 km/h</div>
      </div>
    </div>
  </div>
</div> -->
<!-- <router-outlet></router-outlet> -->
